<div class="row calculatorButtons">
    
    <div class="col">
        <div class="row">
            <ng-template topbuttonrow-host></ng-template>             
        </div>
        <div class="row">
            <ng-template secondbuttonrow-host></ng-template>
        </div>
        <div class="row">
            <ng-template thirdbuttonrow-host></ng-template>
        </div>
        <div class="row">
            <ng-template fourthbuttonrow-host></ng-template>
        </div>
        <div class="row">
            <ng-template fifthbuttonrow-host></ng-template>
        </div>
    </div>
    
</div>