<div class="container">
    <div class="calculator row">
        <div class="col">
            <div class = "calculatorTitle row">
                <div class="col">
                    La Calculadora
                </div>
            </div>
            <div class="row calculatorScreen">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            Upper Screen
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Lower Screen
                        </div>
                    </div>
                </div>
            </div>
            <div class="row calculatorButtons">
                
                <div class="col">
                    <div class="row">
                        <div class="col">
                            AC
                        </div>
                        <div class="col">
                            CE
                        </div>
                        <div class="col">
                            /
                        </div>
                        <div class="col">
                            X
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            7
                        </div>
                        <div class="col">
                            8
                        </div>
                        <div class="col">
                            9
                        </div>
                        <div class="col">
                            -
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            4
                        </div>
                        <div class="col">
                            5
                        </div>
                        <div class="col">
                            6
                        </div>
                        <div class="col">
                            +
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <div class="col">
                                    1
                                </div>
                                <div class="col">
                                    2
                                </div>
                                <div class="col">
                                    3
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    0
                                </div>
                                <div class="col-4">
                                    .
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            =
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

