/* Utilising BEM for naming*/

/* {
    border: 1px dashed black;
} */ 

.calculator {
    width: 300px;
    height: 410px;
    background-color: #cfcfcf;
    padding: 1rem; 
    border-radius: 0.5rem;
    margin-top: 3rem;
}

button {
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}