<div class="row calculatorButtons">
    
    <div class="col">
        <div class="row">
            <div class="col">
                <button>AC</button>
            </div>
            <div class="col">
                <button>CE</button>
            </div>
            <div class="col">
                <button>/</button>
            </div>
            <div class="col">
                <button>*</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button>7</button>
            </div>
            <div class="col">
                <button>8</button>
            </div>
            <div class="col">
                <button>9</button>
            </div>
            <div class="col">
                <button>-</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button>4</button>
            </div>
            <div class="col">
                <button>5</button>
            </div>
            <div class="col">
                <button>6</button>
            </div>
            <div class="col">
                <button>+</button>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-4">
                        <button>1</button>
                    </div>
                    <div class="col-4">
                        <button>2</button>
                    </div>
                    <div class="col-4">
                        <button>3</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <button>0</button>
                    </div>
                    <div class="col-4">
                        <button>.</button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <button>=</button>
            </div>
        </div>
    </div>
    
</div>